<% include partials/header %>
	<!-- Works
	================================================== -->
	<section id="works">
		<div class="container">
			<div class="desktop-12 columns"><div class="border-top"></div></div>

			
				<a href="single-illustration-sidebar-left.html" class="permalink">
					<div class="desktop-3 mobile-half columns">
						<div class="item first-row">
							<h3>UniBank (Home Banking)</h3>
							<span class="category">WEB &middot; NodeJS - AngularJS - MongoDB</span>

							<img class="portfolioIMG" src="images/thumb_item01.png" alt="" />
						</div><!-- // .item -->
					</div><!-- // .desktop-3 -->
				</a>
				
				<a href="single-illustration-sidebar-left.html" class="permalink">
					<div class="desktop-3 mobile-half columns">
						<div class="item first-row">
							<h3>Accademia del Fortissimo</h3>
							<span class="category">WEB &middot; Wordpress</span>

							<img class="portfolioIMG" src="images/thumb_item02.png" alt="" />
						</div><!-- // .item -->
					</div><!-- // .desktop-3 -->
				</a>
				
				<a href="single-illustration-sidebar-left.html" class="permalink">
					<div class="desktop-3 mobile-half columns">
						<div class="item first-row">
							<h3>Trivelli Tartufi</h3>
							<span class="category">WEB &middot; HTML - CSS - JS - PHP</span>

							<img class="portfolioIMG" src="images/thumb_item03.png" alt="" />
						</div><!-- // .item -->
					</div><!-- // .desktop-3 -->
				</a>
				
				<a href="single-illustration-sidebar-left.html" class="permalink">
					<div class="desktop-3 mobile-half columns">
						<div class="item first-row">
							<h3>Quarto! (GAME)</h3>
							<span class="category">DESKTOP &middot; Java</span>

							<img class="portfolioIMG" src="images/thumb_item04.png" alt="" />
						</div><!-- // .item -->
					</div><!-- // .desktop-3 -->
				</a>
				
				<div class="clear"></div>
			
				<a href="single-illustration-sidebar-left.html" class="permalink">
					<div class="desktop-3 mobile-half columns">
						<div class="item">
							<h3>Conad Ascoli</h3>
							<span class="category">WEB &middot; HTML - CSS - JS - PHP</span>

							<img class="portfolioIMG" src="images/thumb_item05.png" alt="" />
						</div><!-- // .item -->
					</div><!-- // .desktop-3 -->
				</a>
				
				<a href="single-illustration-sidebar-left.html" class="permalink">
					<div class="desktop-3 mobile-half columns">
						<div class="item">
							<h3>Il Poggio Ristorante</h3>
							<span class="category">WEB &middot; HTML - CSS - JS - PHP</span>

							<img class="portfolioIMG" src="images/thumb_item06.png" alt="" />
						</div><!-- // .item -->
					</div><!-- // .desktop-3 -->
				</a>
				
				<a href="single-illustration-sidebar-left.html" class="permalink">
					<div class="desktop-3 mobile-half columns">
						<div class="item">
							<h3>Fondazione Ottavio Sgariglia</h3>
							<span class="category">WEB &middot; HTML - CSS - JS - PHP</span>

							<img class="portfolioIMG" src="images/thumb_item07.png" alt="" />
						</div><!-- // .item -->
					</div><!-- // .desktop-3 -->
				</a>
				
				<a href="single-illustration-sidebar-left.html" class="permalink">
					<div class="desktop-3 mobile-half columns">
						<div class="item">
							<h3>Villa Corallo</h3>
							<span class="category">WEB &middot; HTML - CSS - JS - PHP</span>

							<img class="portfolioIMG" src="images/thumb_item08.png" alt="" />
						</div><!-- // .item -->
					</div><!-- // .desktop-3 -->
				</a>
				
				<div class="clear"></div>
			
				<a href="single-illustration-sidebar-left.html" class="permalink">
					<div class="desktop-3 mobile-half columns">
						<div class="item">
							<h3>Orlandi Passion</h3>
							<span class="category">WEB &middot; HTML - CSS - JS - PHP</span>

							<img class="portfolioIMG" src="images/thumb_item09.png" alt="" />
						</div><!-- // .item -->
					</div><!-- // .desktop-3 -->
				</a>

				<!-- <a href="single-illustration-sidebar-left.html" class="permalink"> -->
					<!-- <div class="desktop-3 mobile-half columns"> -->
						<!-- <div class="item"> -->
							<!-- <h3>&nbsp;</h3> -->
							<!-- <span class="category">&nbsp;</span> -->

							<!-- <img class="portfolioIMG" src="images/thumb_item10.png" alt="" /> -->
						<!-- </div> -->
					<!-- </div> -->
				<!-- </a> -->

				<div class="clear"></div>
			
		</div><!-- // .container -->
	</section><!-- // section#works -->



<% include ../partials/footer  %>